In [ ]:
import os
import glob
import json
import warnings
warnings.filterwarnings("ignore")

In [ ]:
# 드라이브 마운트
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

### Train Data

In [ ]:
train_json_list = glob.glob('/content/drive/MyDrive/tomato/dataset_root/train/label_json_aug/*.json')
len(train_json_list)

22174

In [ ]:
tr_json_list = glob.glob('/content/drive/MyDrive/tomato/dataset_root/train/label_jsons/*.json')
len(tr_json_list)

2564

In [ ]:
xtls = []
ytls = []
xbrs = []
ybrs = []
image_path = []
class_names = []

def get_annotation_csv(data) :

  for i in range(len(tr_json_list)) :
    with open(tr_json_list[i],'r') as f :
      json_file = json.load(f)
      xtl = json_file['annotations']['points'][0]['xtl']
      ytl = json_file['annotations']['points'][0]['ytl']
      xbr = json_file['annotations']['points'][0]['xbr']
      ybr = json_file['annotations']['points'][0]['ybr']

      xtls.append(xtl)
      ytls.append(ytl)
      xbrs.append(xbr)
      ybrs.append(ybr)


      path = '/content/drive/MyDrive/tomato/dataset_root/'+data+'/images'
      img = json_file['description']['image']
      img_path = path + '/' + img
      image_path.append(img_path)

      if json_file['annotations']['disease'] == 19 :
        class_name = 'disease2'

      elif json_file['annotations']['disease'] == 18 :
        class_name = 'disease1'
      else :
        class_name = 'normal'
      class_names.append(class_name)

  #return xtls, ytls, xbrs, ybrs, image_path, class_names

In [ ]:
get_annotation_csv('train')

In [ ]:
import pandas as pd

train_annotation = pd.DataFrame({'path/to/image.jpg' : image_path, 'x1' : xtls, 'y1' : ytls, 'x2' : xbrs, 'y2' : ybrs, 'class_name' : class_names})
train_annotation

,path/to/image.jpg,x1,y1,x2,y2,class_name
0,/content/drive/MyDrive/tomato/dataset_root/tra...,1232,552,3156,2400,disease1
1,/content/drive/MyDrive/tomato/dataset_root/tra...,1696,1024,3232,2384,disease1
2,/content/drive/MyDrive/tomato/dataset_root/tra...,640,668,3776,2924,disease1
3,/content/drive/MyDrive/tomato/dataset_root/tra...,633,0,2006,1237,disease1
4,/content/drive/MyDrive/tomato/dataset_root/tra...,869,1132,3385,2476,disease1
...,...,...,...,...,...,...
2559,/content/drive/MyDrive/tomato/dataset_root/tra...,2253,1570,3196,2248,disease2
2560,/content/drive/MyDrive/tomato/dataset_root/tra...,1347,1396,2615,2648,disease2
2561,/content/drive/MyDrive/tomato/dataset_root/tra...,192,349,2582,1905,disease2
2562,/content/drive/MyDrive/tomato/dataset_root/tra...,1654,1076,2687,1676,disease2
2563,/content/drive/MyDrive/tomato/dataset_root/tra...,1828,461,2006,850,disease2

In [ ]:
train_annotation.to_csv('train_annotation.csv',index=False)

### Validation Data

In [ ]:
val_json_list = glob.glob('/content/drive/MyDrive/tomato/dataset_root/val/label_json/*.json')
len(val_json_list)

296

In [ ]:
get_annotation_csv('val')

In [ ]:
val_annot = pd.DataFrame({'path/to/image.jpg' : image_path, 'x1' : xtls, 'y1' : ytls, 'x2' : xbrs, 'y2' : ybrs, 'class_name' : class_names})
val_annot

,path/to/image.jpg,x1,y1,x2,y2,class_name
0,/content/drive/MyDrive/dataset_root/val/images...,724,789,2682,1908,disease1
1,/content/drive/MyDrive/dataset_root/val/images...,769,307,4032,2564,disease1
2,/content/drive/MyDrive/dataset_root/val/images...,730,658,1940,3128,disease2
3,/content/drive/MyDrive/dataset_root/val/images...,804,786,3225,2667,disease1
4,/content/drive/MyDrive/dataset_root/val/images...,888,0,3671,1908,disease1
...,...,...,...,...,...,...
291,/content/drive/MyDrive/dataset_root/val/images...,450,760,2096,2210,normal
292,/content/drive/MyDrive/dataset_root/val/images...,810,517,2323,2663,normal
293,/content/drive/MyDrive/dataset_root/val/images...,735,561,1985,2458,normal
294,/content/drive/MyDrive/dataset_root/val/images...,618,1262,2300,3418,normal
295,/content/drive/MyDrive/dataset_root/val/images...,658,965,2948,3115,normal

In [ ]:
val_annot.to_csv('test_annotation.csv',index=False)

### class 정보

In [ ]:
class_txt_path = 'classes.txt'

def save_class_format(path="classes.txt"):
    class_type_map = {
        "normal" : 0,
        "disease1": 1,
        'disease2' : 2,
    }
    with open(path, mode='w', encoding='utf-8') as f:
        for k, v in class_type_map.items():
            f.write(f"{k},{v}\n")

save_class_format(class_txt_path)